<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<servlet>
		<servlet-name>ClientiController</servlet-name>
		<servlet-class>Controller.ClientiController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConturiController</servlet-name>
		<servlet-class>Controller.ConturiController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AsociereController</servlet-name>
		<servlet-class>Controller.AsociereController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientiController</servlet-name>
		<url-pattern>/ClientiController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConturiController</servlet-name>
		<url-pattern>/ConturiController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsociereController</servlet-name>
		<url-pattern>/AsociereController</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>adauga_Client.jsp</welcome-file>
	</welcome-file-list>
</web-app>
